.DS_Store
.tmp
.git
node_modules
.settings
*.log
dist/
config/local_config.js
.vscode/
.idea/
.editorconfig
.jsbeautifyrc
.stylelintrc.json
.vscode/
doc/
.stylelintrc
.eslintrc
.jsbeautifyrc
.tslintrc
gulpfile.js
